ConsumingSoapFormattedWS/App_WebReferences/MyWebService/SoapSerialization.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nash.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://nash.org/Request" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://nash.org/Response" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://nash.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Soap Formatting Demo</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nash.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nash.org/Request">
      <s:element name="Req">
        <s:complexType>
          <s:attribute name="x" type="s:int" use="required" />
          <s:attribute name="y" type="s:int" use="required" />
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nash.org/Response">
      <s:element name="Res">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisplayResult" type="s2:Diving" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Diving">
        <s:attribute name="x" type="s:int" use="required" />
        <s:attribute name="y" type="s:int" use="required" />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DisplaySoapIn">
    <wsdl:part name="parameters" element="s1:Req" />
  </wsdl:message>
  <wsdl:message name="DisplaySoapOut">
    <wsdl:part name="parameters" element="s2:Res" />
  </wsdl:message>
  <wsdl:portType name="SoapSerializationSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Display">
      <wsdl:input message="tns:DisplaySoapIn" />
      <wsdl:output message="tns:DisplaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapSerializationSoap" type="tns:SoapSerializationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://nash.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Display">
      <soap:operation soapAction="http://nash.org/Action" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoapSerializationSoap12" type="tns:SoapSerializationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://nash.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Display">
      <soap12:operation soapAction="http://nash.org/Action" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapSerialization">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Soap Formatting Demo</wsdl:documentation>
    <wsdl:port name="SoapSerializationSoap" binding="tns:SoapSerializationSoap">
      <soap:address location="http://localhost:7146/SoapFormatting/SoapSerialization.asmx" />
    </wsdl:port>
    <wsdl:port name="SoapSerializationSoap12" binding="tns:SoapSerializationSoap12">
      <soap12:address location="http://localhost:7146/SoapFormatting/SoapSerialization.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>